.filter-bar {
  width: 315px;
  padding: 19px;
  background: #FFFFFF;
  border: 1px solid #EAEBED;
  border-radius: 12px;
}

.filter-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
}

.filter-reset {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  cursor: pointer;
}

.filter-reset > span {
  font-weight: 500;
  font-size: 14px;
  color: #ACADB9;
}

.filter-industry, .filter-salary {
  margin-bottom: 20px;
}

.industry-label, .salary-label {
  display: block;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 8px;
}

.mantine-Select-root, .mantine-Select-label {
  all: unset;
}

.mantine-Select-label {
  display: inline-block;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 8px;
}

.mantine-Select-input, .mantine-NumberInput-input {
  height: unset;
  min-height: unset;
  padding: 10px 40px 10px 11px;
  background: #FFFFFF;
  border: 1px solid #D5D6DC;
  border-radius: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #232134;
}

.mantine-Select-input::placeholder, .mantine-NumberInput-input::placeholder {
  color: #ACADB9;
}

.mantine-NumberInput-rightSection > button {
  border: none;
}

.mantine-NumberInput-rightSection > button > svg > path {
  fill: #ACADB9;
}

.filter-button {
  border: none;
  background: #5E96FC;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}