.header {
  background-color: #ffffff;
}

.header-inner {
  display: flex;
  justify-content: flex-start;
  padding: 24px 0;
}

.header-inner > a {
  margin-right: 280px;
}

.header-inner > .menu {
  display: flex;
  align-items: center;
  gap: 60px;
}