.header-wrapper {
  margin-bottom: 40px;
  background-color: #ffffff;
}

.search-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-results {
  margin-bottom: 40px;
}

.search-input, .card {
  margin-bottom: 16px;
}

.mantine-Group-root {
  width: fit-content;
  margin: 0 auto 44px auto;
}