.search-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-results {
  margin-bottom: 40px;
}

.search-input, .search-page .card {
  margin-bottom: 16px;
}

.search-page .loader {
  width: fit-content;
  margin: 80px auto 0;
}

/* .no-results {
  width: fit-content;
  margin: 40px auto 0;
} */